@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor_header: black;
    --cor_principal: #fdf5f8;
    --cor_div: #e3e3e6;
    --cor_div_hover: #bfbfc0;
    --cor_footer: #333333;
    --fonte_padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte_extra: 'Roboto', sans-serif;;
    --fonte_cordel: 'Sriracha', cursive;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    font-family: var(--fonte_extra);
    min-height: 100vh;
}

header {
    background-color: var(--cor_header);
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-size: 6em;
    font-weight: normal;
}

header > p {
    padding: 10px 0px 50px 0px;
    font-size: 1em;
    font-family: var(--fonte_padrao);
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

main {
    background-color: var(--cor_principal);
}

section {
    font-family: var(--fonte_cordel);
    font-size: 3em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.8em;
}

section p {
    padding: 40px 0px 40px 40px;
}

section.imagem {
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 5px 20px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 15px rgba(19, 18, 18, 0.507);
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

div {
    text-align: center;
    background-color: var(--cor_div);
}

div h1 {
    padding-top: 30px;
}

div p {
    padding: 20px 0px 20px 0px;
}

div > p > a > img {
    max-height: 80px;
    max-width: 80px;
    padding: 5px;
    border-radius: 15px;
}

div img:hover {
    background-color: var(--cor_div_hover);
}

footer {
    background-color: var(--cor_footer);
    color: white;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 450px) {
   header h1 {
       font-size: 2.3em;
   }

   header p {
       font-size: 0.9;
   }
}